<div class="card">
    
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0" ><i></i>Iniciar Sesión</h5>
    </div>
    <div class="card-body p-5">

    <form #f="ngForm" (ngSubmit)="iniciarSesion()">

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Correo electrónico: </label>
            <div class="col-sm-10">
                <input #correo="ngModel"
            [ngClass]="correo.invalid && (correo.dirty || correo.touched) ? 'is-invalid' : ''" type="email" 
            name="correo" class="form-control" required email [(ngModel)]="loginDTO.correo" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Contraseña: </label>
            <div class="col-sm-10">
                <input #contrasenia="ngModel"
            [ngClass]="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched) ? 'is-invalid' : ''" type="password" 
            name="contrasenia" class="form-control" required [(ngModel)]="loginDTO.contrasenia" />
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
            <i></i>Iniciar Sesión
        </button>

    </form>

    </div>
</div>