<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
            margin: 0;
        }

        .center-container {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="center-container">
        <h1>Bienvenido a la clinica</h1>
        <h1>Dios te salve</h1>
    </div>

</body>
</html>